<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <title>Document</title>
    <nav class="navbar navbar-default">
        <div class="container">
            <ul class="nav navbar-nav ">
                <li id="home"><a href="/login">כניסה </a></li>
                <li id="about"><a href="/create">משמרות שבוע הבא</a></li>
                <li id="contact"><a href="/">משמרות השבוע</a></li>
            </ul>
            <div class="navbar-header navbar-right">
                <p class="navbar-brand">מוקד</p>
            </div>
        </div>
    </nav>
</head>

<body>

    <div class="container">